<div class="col-sm-12 home-page">

  <div class="homepage-display">

    <div class="chatter-logo">
      <%= image_tag("chatter-logo-main.png")%>  
    </div>

    <div class="homepage-bio">
      <h2>a micro social network to chatter with your friends</h2> 
    </div>

    <div class="homepage-login-signup">

      <div class="homepage-login-btn">
        <%= link_to 'Login', login_path %>
      </div>

        <div class="break"></div>

      <div class="homepage-signup-btn">
        <%= link_to 'Sign up', signup_path %>
      </div>

    </div>  

  </div>
</div>