<div class="col-sm-12 home-page">


  <div class="chatter-logo">
    <h1>chatter</h1>  
  </div>


  <div>
    <h2>a micro social network to chatter with your friends</h2> 
  </div>

</div>


<%= link_to 'Login', login_path %>

<%= link_to 'Sign up', signup_path %>