@import "bootstrap-sprockets";
@import "bootstrap";
@import "forms";
@import "home";
@import "navbar";
@import "tweets";

/* *** FONTS *** */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* *** NAV BAR STYLE NOT APPLIED TO BELOW PAGES *** */
body.session-new nav.navbar,
body.users-new nav.navbar,
body.pages-home nav.navbar {
  display: none;
}

/* *** BODY *** */
body {
  font-family: 'Lato', sans-serif;
  margin-top: 100px;
  background-color: #ecf0f1;
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}







