@import "bootstrap-sprockets";
@import "bootstrap";
@import "forms";

body.session-new nav.navbar,
body.users-new nav.navbar {
  display: none;
}

body {
  margin-top: 100px;
  --background-color: #ecf0f1;
  background-color: #1abc9c;  
}

/*
.navbar-inverse {
  background-color: #1abc9c; 
}

*/


/***************

----- NAV

****************/


.search-top-bar {
  display: inline-block;
}

.search-tweets {
  width: 200px;
}





.tweet-box {
  --width: 80%;
  --height: 140px; 
  background-color: #FFFFFF;
  --border: 1px solid grey;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 8px;

}



.profile-thumbnail {
  --max-width: 55px;
  --max-height: 55px;
  border-radius: 8px;
}

.tweet-box-thumb {
  max-width: 80%;
  --float: left;
  --padding-right: 60px;  
  --margin: auto;
  text-align: center;
}

.tweet-box-thumb img { 
  width: 100%; 
}

.tweet-box-content {
  --width: 460px;
  --border: 1px solid grey;
  float: left;
}








.main-profile-image img {
  max-width: 100%;
}


.profile-display {
  background-color: #e67e22;
  --width: 80%;
  --height: 140px; 
  background-color: #FFFFFF;
  --border: 1px solid grey;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 8px;
}

.user-username {
  font-size: 2em;
}


