/* *** SIGN IN / LOGIN FORMS *** */
.new-user-form {
    margin: auto;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.form-control {
    margin-bottom: 4px;
}

/* *** BTNS *** */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #c0392b;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #e74c3c;
}
 
.btn-primary:active, .btn-primary.active {
    background: #e74c3c;
    box-shadow: none;
}

/* *** TEXT AREA FOCUS *** */
textarea:focus,
input.form-control:focus,
.uneditable-input:focus {   
  border-color: rgba(254, 242, 240, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 242, 240, 0.6);
  outline: 0 none;
}

/* *** LOGIN FORM BOUNDING BOX *** */
.login-form-bounding-box {
    background-color: #91A2B6;
    width: 360px;
    height: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
}

/* *** EDIT PROFILE CONTAINER *** */
.edit-profile-container {
    max-width: 380px;
    font-weight: 300;
}





